 <div class="oj-hybrid-padding">
    <h1>Services Content Area</h1>
    <div>
        <oj-table id='table' aria-label='Services Table'
                                          data='[[dataprovider]]'
                                          selection-mode='{"row": "multiple", "column": "multiple"}'
                                          dnd='{"reorder": {"columns": "enabled"}}'
                                          scroll-policy='loadMoreOnScroll'
                                          scroll-policy-options='{"fetchSize": 10}'
                                          columns='[{"headerText": "Service Name", 
                                                     "field": "serviceName",
                                                     "headerClassName": "oj-sm-only-hide",
                                                     "className": "oj-sm-only-hide",
                                                     "resizable": "enabled"},
                                                    {"headerText": "Service Description", 
                                                     "field": "serviceDescription",
                                                     "resizable": "enabled"}]'
                                          class='demo-table-container oj-bg-body'>
          </oj-table>
    </div>
  </div>
  