 <div class="oj-hybrid-padding">
    <h1>Services Content Area</h1>
    <div>
      <oj-dialog id="md1" dialog-title="Add new service">
        <div slot="body">
          <oj-form-layout id="myform" label-edge="top" columns="1" max-columns="1">
            <oj-input-text id="ojip1" required value="{{serviceName}}" label-hint="Service Name"></oj-input-text>
            <oj-input-text id="ojip2" required value="{{serviceDescription}}" label-hint="Service Description"></oj-input-text> 
          </oj-form-layout> 
        </div>
        <div slot="footer">
          <oj-button id="okButton" on-oj-action="[[save]]">
            Save
          </oj-button>
          <oj-button id="okButton" on-oj-action="[[cancelNew]]">
            Cancel
          </oj-button>
        </div>
      </oj-dialog>

      <oj-dialog id="md2" dialog-title="Add new service">
        <div slot="body">
          <oj-form-layout id="myform" label-edge="top" columns="1" max-columns="1">
            <oj-input-text id="ojip3" required value="{{serviceName}}" label-hint="Service Name" readonly="true"></oj-input-text>
            <oj-input-text id="ojip4" required value="{{serviceDescription}}" label-hint="Service Description"></oj-input-text> 
          </oj-form-layout> 
        </div>
        <div slot="footer">
          <oj-button id="okButton" on-oj-action="[[update]]">
            Save
          </oj-button>
          <oj-button id="okButton" on-oj-action="[[cancelUpdate]]">
            Cancel
          </oj-button>
        </div>
      </oj-dialog>
      
      <oj-button  id="b1" on-oj-action="[[openNew]]" chroming='danger'>Add New Service</oj-button>
      <oj-button  id="b2" on-oj-action="[[openUpdate]]" chroming='danger'>Update Service</oj-button>

      <oj-table id='table' aria-label='Services Table'
                                          data='[[dataprovider]]'
                                          selection-mode='{"row": "single", "column": "single"}'
                                          dnd='{"reorder": {"columns": "enabled"}}'
                                          scroll-policy='loadMoreOnScroll'
                                          scroll-policy-options='{"fetchSize": 10}'
                                          first-selected-row='chipping'
                                          on-first-selected-row-changed="[[firstSelectedRowChangedListener]]"
                                          columns='[{"headerText": "Service Name", 
                                                     "field": "serviceName",
                                                     "headerClassName": "oj-sm-only-hide",
                                                     "className": "oj-sm-only-hide",
                                                     "resizable": "enabled"},
                                                    {"headerText": "Service Description", 
                                                     "field": "serviceDescription",
                                                     "resizable": "enabled"}]'
                                          class='demo-table-container oj-bg-body'>
          </oj-table>

          <oj-messages id="oj-messages-id" messages="[[messagesDataprovider]]" display="notification"
                        display-options.category="none"
                        position='{"my":{"vertical" :"top", "horizontal": "end"}, 
                                  "at": {"vertical": "top", "horizontal": "end"},
                                  "of": "window"}'>
          </oj-messages>
    </div>
  </div>
  